* {
  font-family: "Titillium Web";
}

audio {
  visibility: hidden;
  width: 0;
  height: 0;
}

h1,
h2,
h3 {
  text-shadow: 1px 1px 2px pink;
}

html {
  height: 100%;
}

body {
  background-size: 200% 200%;
  animation: animatedBackground 200s linear infinite;
  background-image: repeating-linear-gradient(
      249deg,
      transparent 0px,
      transparent 3px,
      rgb(255, 255, 255) 3px,
      rgb(255, 255, 255) 32px
    ),
    repeating-linear-gradient(
      307deg,
      transparent 0px,
      transparent 3px,
      rgb(255, 255, 255) 3px,
      rgb(255, 255, 255) 32px
    ),
    linear-gradient(
      90deg,
      hsl(191, 85%, 78%),
      hsl(242.429, 85%, 78%),
      hsl(293.857, 85%, 78%),
      hsl(345.286, 85%, 78%),
      hsl(36.714, 85%, 78%),
      hsl(88.143, 85%, 78%),
      hsl(139.571, 85%, 78%)
    );
  height: 100%;
}

#app {
  height: 100% !important;
}

@keyframes animatedBackground {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0;
  }
}

#app .list-group-item.active {
  background-color: #619af0;
  border-color: #619af0;
}
